.btn {
  border: 1px solid map-get($colors, secondary);
  padding: 16px map-get($spaces, 's');
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 11px;

  color: map-get($colors, darkColor);
  text-transform: uppercase;
  text-decoration: none;
  font-size: rem(12);
  font-weight: bold;
  letter-spacing: rem(1);

  &:hover {
    border-width: 8px;
  }

}