.menu {
    display: none;
  }


//icon Menu Hamburger 
// Code du block
.menuBurger {
  width: 30px;
  height: 30px;
  // background-color: green;
  position: relative;

// Cibler l'élément bar du menu Burger, lest éléments & permet de reprendre est obligatoire
// puis __bar les tirets du bas sont obgligatoires suivit du nom de la classe 
&__bar,
&__bar::before,
&__bar::after {
  content: "";
  background-color: map-get($colors, darkColor);
  height: 2px;
  position: absolute;
  left: 0;
  width: 100%;
  z-index: 3;
  }

  &__bar::before {
    top: -10px;
  }

  &__bar::after {
    top: 10px;
  }

}

// Code de l'élément du block
// important de préciser le block, puis avec __ le nom de la classe pour l'affecter
  //.menuBurger__bar{
  //  background-color: map-get($colors, darkColor);
  //}


  